<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Object Detection</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--  JQuery -->

<link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
<link rel="manifest" href="static/site.webmanifest">
<link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--  Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--  Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href=" https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css " rel="stylesheet">    
        <link href="static/flask.css" rel="stylesheet">
        <style>
        
    </style>

    <script defer src="static/flask.js">
    
    </script>        
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
<style>

</style>
</head>
<body>


    

      
      </div>

      <section class="hero is-fullheight is-default is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">

                <div class="columns is-vcentered">
                    <div class="column is-7" id="root">   <br>
                        <p class="total  subtitle is-bold" style="display:none">Number of Students:                        <span class="total-count  fa-sharp fa-solid  fa-beat is-offset-1" style="color:red !important; margin-left:5px;"></span>                        </p>

                        <figure class="image is-4by3">
                            {% block body %}
                            {% if image %}
                            <img src={{url_for('static', filename=image)}}  class="preview">
                        {% else %}
                            <img src="static/output.jpg" class="preview">

                        {% endif %}
                            {% endblock %}
                         
                        </figure>
                    </div>
                    
                    <div class="column is-4 is-offset-1">
                        <h1 class="title is-2">
                            YOLOv6 Object Detection: Student Counting Approach
                        </h1>
                       
                        <br>
                        <form action="/detect" method="POST" enctype="multipart/form-data">
                            <span class="file-cta is-medium button">       <i class="fa-sharp fa-solid fa-file fa-beat is-offset-1" style="margin-right:5px; color:rgb(85, 0, 255)"></i>  
                                <br>
                                <p class="file-name" style="color:rgb(85, 0, 255)">Choose Image</p>
                                <input type="file" id="image" accept="image/*"  capture="camera"  value="Process Photo" name="image" class="file-input is-medium is-info is-outlined">
                       
                                     
                      
                            </span>
                            <br>
                                
                                <input class="button  is-medium is-info is-outlined disabled" value="Process Image"   type="submit" id="submit" style="margin-top:10px">
                            </p>
                        </form>
                   
                        <!-- Upload 5 or more images for Panorama -->
                        <p class="subtitle is-6" style="margin-top:10px">
                            <a href="/upload" class="button is-large is-warning is-info is-outlined is-offset-2" value="Image Stitching"  "> 
                                <i class="fa-sharp fa-solid fa-file fa-beat is-offset-1" style="margin-right:5px; color:rgb(255, 0, 0)"></i>  
                                Upload 3 or more images for Panorama
                            </a>

                            </form>

                    
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <p class="author" style="margin-left:45%; color:white">
                        Murtadha Marzouq, Param Patel, Haochen Ye, Nick Yu, and Sam Aldehayyat
                    </p>
                    <ul>
                                                
                    </ul>
                </div>
            </div>
        </div>
    </section>
  
</body>
<script defer>
  

</script>

</html>
